body {
	margin-top: 54px;
	margin-right: 97px;
	margin-left: 52px;

}

header {
	margin-bottom: 44px;
}

img {
	vertical-align: middle;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

li {
	display: inline-block;
	margin-left: 60px;
}

a {
	font-weight: 700;
	font-size: 26px; 
	text-decoration: none;
	color: #8D81FF;
}

.active {
	color: #4E6FAE;
}

.day {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-weight: 400;
	font-size: 24px;
	padding-top: 8px;
	padding-left: 11px;
	margin-top:35px ;
	margin-bottom: 15px;

}


h3 {
	font-weight: 400;
	font-size: 24px;
	color: #8D81FF;
	margin-bottom: 8px;
	font-family: "BPG Nostalgia", sans-serif;
}

h4 {
	font-weight: 700;
	font-size: 20px;
	color: #4E6FAE;
	margin-bottom: 13px;
	font-family: "BPG Square", sans-serif;
}

.photo {
	vertical-align: top;
	margin-top: 15px;
	margin-right: 50px;
}

.desc {
	font-family: "BPG Nostalgia", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #4E6FAE;
	display: inline-block;
	width: 778px;
	vertical-align: top;
	margin-top: 35px;
}

.line {
	height: 48px;
	width: 0;
	border: 2px solid #5012D5;
	display: inline-block;
	vertical-align: middle;
	margin: 0 41px;
}

footer {
	margin: 100px 0;
}
